    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Campervan Games</h2>
                <p>Campervan Games is a Melbourne based Indie Game Development Studio founded by Matthew Deline focused on creating wholesome, engaging experiences. We are an international team with contributors from Australia, the United Kingdom, and Canada. Currently, we are working on playful physical installations, and the modern retro-inspired arcade game, <a href="https://shapearcade.com">Shape Arcade</a>!</p>
                <p>For Matthew's other work, please visit <a href="https://matthewdeline.com">www.matthewdeline.com</a></p>
            </div>
        </div>
    </section>
