    <!-- About Section -->
    <section id="about" class="container content-section text-center">
            <!-- <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YMsmbw2Wt40" allowfullscreen></iframe>
            </div> -->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2></h2>
                <h2>About Shape Arcade</h2>
                <p>Shape Arcade is a neon-infused love letter to the early arcade era with ease of use and accessibility in mind. Built inside a custom tabletop arcade cabinet that reacts to how you play! Using two dials, players match falling shapes in progressively more difficult levels. Can you match the most?</p>
                <p>Shape Arcade was originally created by Matthew Deline in April 2018 as a graduate student physical computing/game design project at Goldsmiths, University of London. Revisions of the original cabinet and new versions for home and mobile are in active development at Matthew's new Melbourne-based studio, <a href="https://campervan.games/" target="_blank">Campervan Games</a>. They are both currently scheduled for release in 2020.</p>
                <p>For more detailed information on how Shape Arcade was made, check out the <a href="<a href="https://matthewdeline.com/portfolio/shape-arcade/" target="_blank">Development Blog</a>!</p>
                <img src="https://matthewdeline.files.wordpress.com/2019/02/img_3164.jpg" class="image">
            </div>
        </div>
    </section>