    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Campervan Games</h2>
                <p>Campervan Games is a Melbourne based Indie Game Development Studio founded by Matthew Deline focused on creating wholesome, engaging experiences. I've worked with clients and collaborators from Australia, the United Kingdom, the United States, and Canada. Previously, we were working on playful physical installations, and the modern retro-inspired arcade game, <a href="https://shapearcade.com">Shape Arcade</a></p></p>
                <p>We have relaunched in 2026 to offer expert consulting services in game development, production, and design. I've worked on console, mobile, VR, and PC titles (primarily in Unity) - and have helped multiple studios ship over 30 titles across multiple different storefronts over the past seven years.</p>
                <p>We are now offering consulting and game development services in the following areas of expertise while we prototype new ideas:</p>
                <ul>
                    <li>Game Launch and Support for iOS, Apple Arcade, Android, Web, Steam, and Meta Quest</li>
                    <li>CI/CD pipeline setup and build management</li>
                    <li>Unity Game Development</li>
                    <li>Guest Lectures and Speaking Engagements</li>
                    <li>Testing and Automation Workflows</li>
                    <li>Agile Production for Game Development Teams</li>
                    <li>Rapid Hiring and Scaling for Long Term Growth</li>
                </ul>
                <p>For Matthew's other work, please visit <a href="https://matthewdeline.com">www.matthewdeline.com</a></p>
            </div>
        </div>
    </section>
