    <!-- Play Section -->
    <section id="play" class="content-section text-center">
        <div class="play-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Play</h2>
                    <p>Shape Arcade will be playable in Melbourne on August 24th at LANdu 2019. We'll be giving away a Data East Classics mini retro arcade to the player with the highest score, so shape up your reflexes and we'll see you there!</p>
                    <a href="https://landu.com.au/events-2-2/" target="_blank" class="btn btn-default btn-lg">Visit Event Page for Tickets</a>
                    <h1></h1>
                    <img src="/img/landu.jpg" class="image">
                </div>
            </div>
        </div>
    </section>