<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    <!-- {% include trailer.html %} -->
    {% include about.html %}
    {% include mergekitchen.html %}
    {% comment %} testimonials.html does not exist yet; a Liquid include inside an HTML comment still runs and would fail the Pages build. {% include testimonials.html %} {% endcomment %}
    {% include contact.html %}
    <hr>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>